{% extends "base_generic.html" %}

{% block content %}
    {% if validlink %}
        <p>請輸入您想設置的新密碼。</p>
        <form action="" method="post">
        {% csrf_token %}
            <table>
                <tr>
                    <td>{{ form.new_password1.errors }}
                        <label for="id_new_password1">新密碼:</label></td>
                    <td>{{ form.new_password1 }}</td>
                </tr>
                <tr>
                    <td>{{ form.new_password2.errors }}
                        <label for="id_new_password2">確認新密碼:</label></td>
                    <td>{{ form.new_password2 }}</td>
                </tr>
                <tr>
                    <td></td>
                    <td><input type="submit" value="重設密碼"></td>
                </tr>
            </table>
        </form>
    {% else %}
        <h1>驗證失敗。</h1>
        <p>您的信箱驗證連結已失效，請再申請一次。如果您持續遇到此問題，請與開發者聯繫。</p>
    {% endif %}
{% endblock %}
