{% extends 'base_generic.html' %}

{% block content %}
<h2>文章列表</h2>
<table>
    {% for post in posts reversed %}
    <tr>
      <td><a href="{% url 'post' %}?post={{ post.id }}">{{ post.title }}</a></td>
      <td>{{ post.author.username }}</a></td>
      <td>{{ post.created_at }}</a></td>
      {% if is_moderator %}
        <td><a href="{% url 'delete_post' %}?post={{ post.id }}">刪除</a></td>
      {% endif %}
    </tr>
    {% endfor %}
</table>
<style>
    table {
      border-collapse: collapse;
      table-layout: auto;
      width: 100%;
    }
    td {
      padding: 10px;
    }
    td:first-child {
      width: 50%;
    }
    td:nth-child(3),
    td:nth-child(4) {
      text-align: right;
    }
</style>
{% endblock content %}